<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
  <add name="ConStr" connectionString="Data Source=server\sqlexpress;Initial Catalog=B2CDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
     </connectionStrings>
  <system.web>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>